# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# SQLite database
blogger/db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Migrations cache
**/__pycache__/